@model List<Yorumlar>
@{
    ViewData["Title"] = "KullanıcıYorum";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int sayı = 0;
}

<h1>Kullanıcının Yaptıgı Yorum</h1>

<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Kullanıcı</th>
        <th>Rota</th>
        <th>Yorum İçerik</th>
        <th>Tarih</th>
        <th>Durum</th>
        <th>Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {


        { sayı += 1; }

        <tr>
            <td>@sayı</td>
            <td>@item.KullanıcıYorum</td>
            <td>@item.GidilecekYerler.Şehir </td>
            <td>@item.Yorumİçerik</td>
            <td>@(((DateTime)item.YorumTarihi).ToString("dd-MMMM-yyyy"))</td>
            <td>@item.Durum</td>
            <td><a href="#" class="btn btn-outline-primary">Detaylar</a></td>
        </tr>
    }
</table>